.header{
    height: 80px;
    box-shadow: 2px 2px 12px rgb(122, 122, 122);
    display: flex;
    align-items: center;
    padding-left: 50px;
   
}
.header-link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .header {
        padding-left: 20px; /* Измените отступ, чтобы адаптировать под мобильные устройства */
    }

    .header-link {
        font-size: 18px; /* Измените размер шрифта для более мелких экранов */
        margin-left: 10px; /* Измените отступ, чтобы адаптировать под мобильные устройства */
    }
}